version: "3.3"

services:

  element:
    image: vectorim/element-web:v1.11.31
    volumes:
      - ./element-config.json:/app/config.json
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.element.rule=Host(`element.${DOMAIN}`)"
      - "traefik.http.routers.element-tls.tls.domains[0].main=element.${DOMAIN}"
      - "traefik.http.routers.element-tls.tls.domains[0].sans=element-*.${DOMAIN}"
      - "traefik.http.routers.element.tls=true"
    env_file:
      - ../.env
    networks:
      - traefikme_default
    extra_hosts:
      - "matrix.${DOMAIN}:host-gateway"

  matrix:
    image: matrixdotorg/synapse:v1.83.0
    volumes:
     - ./mx-data:/data
     - ./mx-conf:/mx-conf/
    environment:
      - SYNAPSE_CONFIG_PATH=/mx-conf/homeserver.yaml
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.synapse.rule=Host(`matrix.${DOMAIN}`)"
      - "traefik.http.routers.synapse.rule=HostRegexp(`matrix.{ip:.*}.${DOMAIN}`)"
      - "traefik.http.routers.synapse-tls.tls.domains[0].main=matrix.${DOMAIN}"
      - "traefik.http.routers.synapse-tls.tls.domains[0].sans=matrix-*.${DOMAIN}"
      - "traefik.http.routers.synapse.tls=true"
    env_file:
      - ../.env
    networks:
      - traefikme_default
    extra_hosts:
      - "slack-bridge.${DOMAIN}:host-gateway"
      - "discord-bridge.${DOMAIN}:host-gateway"

networks:
  traefikme_default:
    external: true
